@model Cricket_Application.Models.ManageTeam

@{
    ViewData["Title"] = "ManagaeTeam";
}
<style>
    .row {
        place-content: center;
        padding: 5px;
    }
    /*   .col-md-4{
                        padding:10px;
                    } */
    form {
        border-radius: 10px;
        padding: 15px;
    }

    .btn {
        width: 90%;
    }

    .TeamLogo {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 150px;
        border-radius: 5px;
    }
</style>
<body>
    <center>
        <h2>ManageTeam</h2>
    </center>
    <hr />
</body>