@model Cricket_Application.Models.FinishMatch

@{
    ViewData["Title"] = "FinishMatch";
}
<style>

    /* .control-label {
                        font-weight:500;
                        padding:3px;
                    } */
    .row {
        place-content: center;
        padding: 5px;
    }
    /*   .col-md-4{
                        padding:10px;
                    } */
    form {
        border-radius: 10px;
        padding: 15px;
    }

    .btn {
        width: 90%;
    }

    .TeamLogo {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 150px;
        border-radius: 5px;
    }
</style>

<body>
    <center>
        <h2>Finish Match</h2>
    </center>
    <hr />
    <form asp-action="FinishMatch">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input placeholder="Enter Match ID" asp-for="MatchId" class="form-control" />
                    <span asp-validation-for="MatchId" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="TeamName" class="control-label">Team A</label>
                    <select id="Team A" class="form-control">
                        <option>Select</option>
                        <option value="India">India</option>
                        <option value="Australia">Australia</option>
                    </select>
                    <div class="form-group" style="display:flex; justify-content:center; margin-top:20px">
                        <img class="TeamLogo" src="~/lib/view-soccer-gold-cup-field.jpg" />
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <br />
                <div class="form-group" style="border:1px solid #CDD3D9; border-radius:5px; align-items:center; display:flex;justify-content:center">
                    <h5 style="place-items:center;padding-top:10px">V/S</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="TeamName" class="control-label">Team B</label>
                    <select id="Team B" class="form-control">
                        <option>Select</option>
                        <option value="India">India</option>
                        <option value="Australia">Australia</option>
                    </select>
                    <div class="form-group" style="display:flex; justify-content:center; margin-top:20px">
                        <img class="TeamLogo" src="~/lib/view-soccer-gold-cup-field.jpg" />
                    </div>
                </div>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="WinningTeam" class="control-label">Match Status</label>
                    <select id="MatchStatus" asp-for="WinningTeam" class="form-control">
                        <option>Select</option>
                        <option value="Right-arm Fast">Right-arm Fast</option>
                        <option value="Left-arm Fast">Left-arm Fast</option>
                        <option value="Right-arm Medium">Right-arm Medium</option>
                        <option value="Left-arm Medium">Left-arm Medium</option>
                    </select>
                    <span asp-validation-for="WinningTeam" class="text-danger"></span>
                </div>
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-md-4">
                <div class="form-group" style="display:flex; justify-content:center">
                    <input type="submit" value="Change Status" class="btn btn-primary" />
                </div>
            </div>
        </div>

    </form>
</body>
@{
    var alertMessage = TempData["AlertMessage"] as string;
}

@if (!string.IsNullOrEmpty(alertMessage))
{
    <script>
        alert('@alertMessage');
    </script>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
